@import '@/styles/variables';
@import '@/styles/functions';
@import '@/styles/placeholders';

.container {
  @include stickContainer;
  height: 100%;
  box-sizing: border-box;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  .content {
    @include overflowContent;

    .leftSide {
      width: 100%;
      display: flex;
      flex-flow: column;
      height: 100%;
      box-sizing: border-box;
      padding: 10px 10px 0 10px;
    }

    .rightSide {
      width: 100%;
      padding: 10px 10px 0 10px;
      box-sizing: border-box;
    }

    @media (min-width: #{$min-xxl}) {
      .leftSide {
        float: left;
        width: 50%;
      }
  
      .rightSide {
        float: right;
        width: 50%;
      }
    }
  }
}


