@import '@/styles/variables';

.container {
  .content {
    .list {
      max-width: 700px;

      .listItem {
        border-bottom: 1px solid $border-gray-e0;

        &::after {
          content: "";
          clear: both;
          display: table;
        }
        
        .header {
          box-sizing: border-box;
          font-weight: $font-semi-bold;
          text-align: right;
          padding: 5px;
          float: left;
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .body {
          padding: 5px;
          margin-left: 200px;

          a {
            color: $text-blue;
          }
        }
      }
    }
  }
}